<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
</head>
<body>
    <h1>Hello this is testing</h1>
    <%- include('./partials/script') %>
</body>
</html>